{% extends "admin/base.html" %}
{% load static %}
{% block title %}EcoVoyage ADMIN - Add Store{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/addstore.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Add Store</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Store Name -->
        <div class="form-group">
            <label for="store_name">Store Name:</label>
            <input type="text" id="store_name" name="store_name" class="form-control" required>
        </div>

        <!-- Location -->
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="form-control" required>
        </div>

        <!-- Store Description -->
        <div class="form-group">
            <label for="description">Store Description:</label>
            <textarea id="description" name="description" class="form-control" required></textarea>
        </div>

        <!-- Store Logo -->
        <div class="form-group">
            <label for="logo">Store Logo:</label>
            <input type="file" id="logo" name="logo" class="form-control" required>
        </div>

        <!-- Submit Button -->
        <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'manage_stores' %}" class="btn btn-primary">Manage Existing Stores</a>
        </div>
{% endblock %}

{% block extra_scripts %}
<script>
    // Add any page-specific JavaScript here if needed
</script>
{% endblock %}
