{% extends "auth/base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<h1>Change Your Password</h1>
<p>Enter your Username</p>
<form method="post">
    {% csrf_token %}
    {% if messages %}
        <div class="alert" style="color:crimson;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter Username" required>
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block bottom %}
<p>Want to try one more time? <a href="{% url 'login' %}">Log In</a></p>
{% endblock %}